[Unit]
Description=uWSGI instance to serve app
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/admin/app
Environment="PATH=/home/admin/app/env/bin"
ExecStart=/home/adminy/app/env/bin/uwsgi --ini app.ini

[Install]
WantedBy=multi-user.target
